#= DEPENDENCIAS DE EJECUCIÓN =#

django==6.0.5				# Framework web
psycopg2-binary==2.9.12		# Driver conector de postgreSQL
argon2-cffi==25.1.0			# Libreria de algoritmo de encriptación para las contraseñas
